---
import { Section, Accordion, Image, Icon, H1, H2, H3, H4 } from "ui";
import Exercice from "../../../../components/TheExercise.astro";
---

<Exercice
  page={2}
  menu={3}
  title="Рәсемне буяу"
  subtitle="Рәсемне буя"
  next="/exercises/artistic/dressed"
>
  <Image src="page-2/formus.jpg" />

  <span>
    Искәрмә: Киләчәктә монда рәсемнәрне буяу мөмкинлеге тормышка ашырылачак
    <br />
    Примечание: В будущем здесь будет реализована возможность разукрашивать рисунки
  </span>
</Exercice>
