---
import { Section, Accordion, Image, Icon, H1, H2, H3, H4 } from "ui";
import Exercice from "../../../../components/TheExercise.astro";
---

<Exercice
  page={2}
  menu={1}
  title="Предметларны саныйбыз"
  subtitle="Рәсемнәр белән тиешле саннарны туташтыр"
  next="/exercises/speech/tell-story"
>
  <div class="howmuch">
    <div class="container-images">
      <div class="dropzone" draggable="true" data-match="1">
        <Image src="page-2/story1.jpeg" />
      </div>

      <div class="dropzone" draggable="true" data-match="2">
        <Image src="page-2/story2.jpeg" />
      </div>
      <div class="dropzone" draggable="true" data-match="3">
        <Image src="page-2/story3.jpeg" />
      </div>
    </div>

    <div class="span">
      <span>Җавап өчен вариантлар:</span>
    </div>

    <ul class="answers">
      <li class="highAndLow">
        <div class="draggable" data-match="1">
          <span class="number" style="color:red">8</span>
        </div>
      </li>
      <li class="highAndLow">
        <div class="draggable six" data-match="3">
          <span class="number" style="color:green">6</span>
        </div>
      </li>
      <li class="highAndLow">
        <div class="draggable" data-match="2">
          <span class="number" style="color:orange">4</span>
        </div>
      </li>
    </ul>
  </div>
</Exercice>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const draggables = document.querySelectorAll(".draggable");
    const dropzones = document.querySelectorAll(".dropzone");

    draggables.forEach((draggable) => {
      draggable.addEventListener("dragstart", (e) => {
        const matchId = draggable.getAttribute("data-match");
        e.dataTransfer.setData("match", matchId);
      });
    });

    dropzones.forEach((dropzone) => {
      dropzone.addEventListener("dragover", (e) => {
        e.preventDefault();
      });

      dropzone.addEventListener("drop", (e) => {
        e.preventDefault();
        const matchId = e.dataTransfer.getData("match");

        const droppedElement = document.querySelector(
          `.draggable[data-match="${matchId}"]`
        );

        if (matchId === dropzone.getAttribute("data-match")) {
          dropzone.appendChild(droppedElement);
          dropzone.classList.add("correct");
          droppedElement.style.opacity = "0"; // Делаем картинку прозрачной
        } else {
          dropzone.classList.add("incorrect");
          setTimeout(() => dropzone.classList.remove("incorrect"), 1000);
        }
      });
    });
  });
</script>

<style scoped>
  .container-images {
    display: flex;
    justify-content: space-between;
  }

  .howmuch .draggable {
    cursor: grab;
    width: 140px;
    height: auto;
  }

  .howmuch .dropzone {
    width: 160px;
    height: 220px;
    overflow: hidden;
  }

  .howmuch .dropzone:nth-child(1) > img {
    margin-top: 30px;
    margin-right: 10px;
  }

  .howmuch .dropzone img {
    transform: scale(1);
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .howmuch .dropzone.correct > img {
    display: none;
  }

  .howmuch .dropzone.correct > .draggable {
    opacity: 1 !important;
  }

  .howmuch .dropzone.correct {
    background-color: #d4f8d4;
    border: 1px solid #4caf50;
  }

  .howmuch .dropzone.incorrect {
    background-color: #ffd6d6;
    border-color: #f44336;
  }

  .container-images {
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
  }

  .draggable {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .number {
    margin: 0 auto;
    font-size: 120px;
    font-family: "Gagalin", sans-serif;
  }

  .answers {
    display: flex;
    gap: 20px;
  }

  .six img {
    transform: scale(1.6);
  }
</style>
