---
import { Section, Accordion, Image, Icon, H1, H2, H3, H4 } from "ui";
import Exercice from "../../../../components/TheExercise.astro";
---

<Exercice
  page={2}
  menu={6}
  title="Бармагың белән үткәр  “Р” авазы"
  subtitle="Узыш машинасына бөтен трассаны узарга ярдәм ит, кызыл ноктадан башла, хәрәкәт иткәндә «Р» авазын әйт"
  audio="Barmagin belen ytker R tavishi.ogg"
>
  <div>
    <Image src="page-2/rsound.jpg" />
  </div>
</Exercice>
