---
import { Section, Accordion, Image, Icon, H1, H2, H3, H4 } from "ui";
import Exercice from "../../../../components/TheExercise.astro";
---

<Exercice
  page={2}
  title="Казан-Башкалам"
  subtitle="Рәсемнәргә кара. Казанда нинди биналар урнашкан?"
  next="/exercises/recognition/gerb-and-flag"
  audio="Kazan Bashkalam 1.ogg"
>
  <ul class="list">
    <li class="image_full">
      <Image src="kazan_1.jpg" />
    </li>
    <li class="image_full">
      <Image src="kazan_2.jpg" />
    </li>
    <li class="image_full">
      <Image src="kazan_3.jpg" />
    </li>
  </ul>

  <div class="btn-play" data-src="/assets/audios/Kazan bashkalam 2 new.mp3">
    <Image src="icons/play.svg" />
  </div>

  <b class="gerb-flag-block"
    >Казан – республика башкаласы. Бөтен дөнья татарлары мәркәзе.</b
  >

  <b class="gerb-flag-block">Казан Кремле</b>
  <span class="gerb-flag-block-title">
    Казан Кремле - бик борыңгы корылма. Кремль татарча "кирмән" сүзеннән килеп
    чыккан, ул сүз "шәһәр" дигәнне аңлата. Безнең Казан Кремленең исеме бөтен
    доньяга тарихи һәйкәл дип таралган. Аның диварлары бик калын, озын, бик
    биек. Безнең Казан шәһәре башта шул Кремль эчендә булган. Кремль дивары
    дошманнардан саклап килгән. Почмакларда манаралар тора. Элек алар күп – 13кә
    хәтле булганнар. Мондый манаралар күзәтү манаралары дип атала. Казан
    Кремлендә Кол Шәриф мәчете төзелгән.
  </span>

  <b class="gerb-flag-block">Сөембикә манарасы</b>
  <span class="gerb-flag-block-title">
    <span style="font-family: var(--font-secondary);">Ә</span>лбәттә, Кремльдәге
    иң мәһабәт бина - Сөембикә манарасы. Җиде катлы бу бина әллә кайлардан ук
    күренеп тора. Аның биеклеге 58 метр. Ул нигезе тигез булмау сәбәпле,
    көнчыгышка авышкан. Бу манараның исеме Казан ханлыгының соңгы патшабикәсе
    Сөембикә белән бәйле.
  </span>

  <b class="gerb-flag-block">Муса Җәлил һәйкәле</b>
  <span class="gerb-flag-block-title"
    >Кремль каршында герой-шагыйрь Муса Җәлилгә һәйкәл куелган. Ул әсирлектә дә
    үлемсез шигырьләр язган, батырларча һәлак булган. Без аның шигырьләрен
    яратып укыйбыз. Җәлил фигурасында тыелгысыз ашкыну сурәтләнгән. Көрәшче
    шагыйрь узен чорнаган тышаулардан котылырга тели. Горур чөелгән баш,
    киерелгән иңбашлар, буйсынмас ихтыярлы куз карашы батырлык, әхлакый көч,
    каһарманлык турында сөйли.</span
  >

  <div class="btn-play" data-src="/assets/audios/Kazan Bashkalam 3 new.ogg">
    <Image src="icons/play.svg" />
  </div>

  <strong> Сөембикә бинасында ничә кат бар? Дөрес җавапны сайла </strong>

  <div class="numbers">
    <span>8</span>
    <span>7</span>
    <span>9</span>
  </div>
</Exercice>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const draggables = document.querySelectorAll(".draggable");
    const dropzones = document.querySelectorAll(".dropzone");

    draggables.forEach((draggable) => {
      draggable.addEventListener("dragstart", (e) => {
        const matchId = draggable.getAttribute("data-match");
        e.dataTransfer.setData("match", matchId);
      });
    });

    dropzones.forEach((dropzone) => {
      dropzone.addEventListener("dragover", (e) => {
        e.preventDefault();
      });

      dropzone.addEventListener("drop", (e) => {
        e.preventDefault();
        const matchId = e.dataTransfer.getData("match");

        const droppedElement = document.querySelector(
          `.draggable[data-match="${matchId}"]`
        );

        // Логика перетаскивания
        if (matchId === "1" && dropzone.getAttribute("data-match") === "2") {
          dropzone.appendChild(droppedElement);
          dropzone.classList.add("correct");
          droppedElement.style.opacity = "0"; // Делаем квадратик прозрачным
        } else if (
          (matchId === "2" || matchId === "3") &&
          dropzone.getAttribute("data-match") !== "2"
        ) {
          dropzone.appendChild(droppedElement);
          dropzone.classList.add("correct");
          droppedElement.style.opacity = "0"; // Делаем квадратик прозрачным
        } else {
          dropzone.classList.add("incorrect");
          setTimeout(() => dropzone.classList.remove("incorrect"), 1000);
        }
      });
    });
  });
</script>

<style lang="scss" scoped>
  .purity-of-speech .draggable[data-match="1"] {
    background: red;
  }

  .purity-of-speech .draggable[data-match="2"] {
    background: #00f;
  }

  .purity-of-speech .draggable[data-match="3"] {
    background: #00f;
  }

  .purity-of-speech .correct {
    background-color: #d4f8d4;
    border-color: #4caf50;
  }

  .purity-of-speech .incorrect {
    background-color: #ffd6d6;
    border-color: #f44336;
  }

  .numbers {
    margin-top: 20px;
    padding: 0 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    span {
      cursor: pointer;
      padding-bottom: 20px;
      height: 200px;
      color: var(--primary);
      font-size: 128px;
      font-family: "Gagalin", sans-serif;
      border: 1px solid rgba($color: #000000, $alpha: 0.2);
      border-radius: 15px;
      transition: var(--transition-ease);
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        border-color: var(--primary);
      }

      &:nth-child(2) {
        color: orange;
      }

      &:nth-child(3) {
        color: #00adff;
      }
    }
  }
</style>
