---
import { Image } from "ui";
import Exercice from "../../../components/TheExercise.astro";
---

<Exercice
  page={2}
  title="Югалтулар"
  subtitle="Рәсемдә нинди өлеш җитми?"
  next="/exercises/recognition/rules"
  audio="Ugaltular.ogg"
>
  <div class="pazzle">
    <div class="pazzle__image">
      <div style="top: 187px; left: 168px" class="missing-piece"/>
      <Image src="pazzles/saby_mosque/saby_mosque.png" />
    </div>
    <div class="pazzle__pieces">
      <span class="pazzle__title">Җавап өчен вариантлар:</span>
      <div class="pazzle__piece">
        <Image src="pazzles/saby_mosque/pazzle_1.png" />
      </div>
      <div class="pazzle__piece">
        <Image src="pazzles/saby_mosque/pazzle_2.png" />
      </div>
      <div class="pazzle__piece">
        <Image src="pazzles/saby_mosque/pazzle_3.png" />
      </div>
    </div>
  </div>
</Exercice>
