---
import { Section, Accordion, Image, Icon, H1, H2, H3, H4 } from "ui";
import Exercice from "../../../../components/TheExercise.astro";
---

<Exercice
  page={2}
  menu={0}
  title="Әдәпле сүзләр"
  subtitle="Уен «Әдәпле сүзләр»"
  next="/exercises/recognition/home"
>
  <div style="color: darkorange" class="exercise_secondary_title">
    <b>Максат</b>: дуслашу, әдәпле булу.
  </div>
  <div style="color:rgb(127, 90, 202)" class="exercise_secondary_title">
    <b>Бирем</b>: Баладан нәрсә эшләргә кирәклеген сорагыз
  </div>
  <span class="regular-text" style="font-family: var(--font-secondary);">
    Әгәр ялгыш ялгыш төртеп җибәрсәң, ул чакта... <br />
    Әгәр сиңа уенчык бүләк иткәннәр икән, димәк...<br />
    Әгәр син кунакка килгән булсаң...<br />
    Әгәр син дустының аягыңа бассаң…<br />
    Әгәр сиңа рәхмәт әйтсәләр…<br />
    Әгәр дә син дустыңнан китап сорарга телисең икән…<br />
    Әгәр дә син дустыңнан уенчык сорарга телисең икән…<br />
    Әгәр дә син әнидән чәй ясарга сорасаң…<br />
    Дустың сиңа уенчык бирсә…<br />
    Әгәр дус сиңа китап бирсә…
  </span>
</Exercice>
