---
import App from "../App.astro";
import { Section, Image, Icon, H1, H2, H3, H4 } from "ui";
---

<App title="Главная">
  <main>
    <!-- Intro -->
    <Section name="intro">
      <div class="breadcrumb">
        <ol class="breadcrumb-list">
          <li>
            <a href="/"><span>Баш</span></a>
          </li>
          <li class="active">
            <a href="/"><span>Уңышлар</span></a>
          </li>
        </ol>
      </div>

      <div class="page">
        <div class="intro__profile">
          <div class="intro__profile-top">
            <div class="flex-col">
              <H2>Шәмсетдинова Айгөл Таһир кызы</H2>
              <H3>Балалар бакчасы тәрбиячесе</H3>
            </div>

            <Image src="avatar.png" />
          </div>

          <div class="intro__profile-table">
            <table>
              <thead>
                <tr>
                  <th colspan="3">Достижения</th>
                  <th>Пройдено</th>
                  <th>Баллы</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="3">научные работы</td>
                  <td>15</td>
                  <td>32</td>
                </tr>
                <tr>
                  <td colspan="3">собственные научные работы</td>
                  <td>5</td>
                  <td>25</td>
                </tr>
                <tr>
                  <td colspan="3">менторство В научных работах</td>
                  <td>18</td>
                  <td>20</td>
                </tr>
                <tr>
                  <td colspan="3">Итого баллов</td>
                  <td></td>
                  <td>
                    <div class="flex-row">
                      <Image src="icons/star-filled.png" />
                      <span>82</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="intro__profile-actions">
            <div class="btn">
              Участие в конкурсе <i
                ><svg
                  width="16"
                  height="9"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.5 5H3.5C3.22 5 3 4.78 3 4.5C3 4.22 3.22 4 3.5 4H12.5C12.78 4 13 4.22 13 4.5C13 4.78 12.78 5 12.5 5Z"
                    fill="#58b770"></path>
                  <path
                    d="M10 8.50047C9.93442 8.50127 9.86941 8.48834 9.80913 8.4625C9.74885 8.43667 9.69465 8.39851 9.65 8.35047C9.45 8.15047 9.45 7.84047 9.65 7.64047L12.8 4.49047L9.65 1.34047C9.45 1.14047 9.45 0.830469 9.65 0.630469C9.85 0.430469 10.16 0.430469 10.36 0.630469L13.86 4.13047C14.06 4.33047 14.06 4.64047 13.86 4.84047L10.36 8.34047C10.26 8.44047 10.13 8.49047 10.01 8.49047L10 8.50047Z"
                    fill="#58b770"></path>
                </svg>
              </i>
            </div>
            <div class="btn">
              Печать научных работ <i
                ><svg
                  width="16"
                  height="9"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.5 5H3.5C3.22 5 3 4.78 3 4.5C3 4.22 3.22 4 3.5 4H12.5C12.78 4 13 4.22 13 4.5C13 4.78 12.78 5 12.5 5Z"
                    fill="#58b770"></path>
                  <path
                    d="M10 8.50047C9.93442 8.50127 9.86941 8.48834 9.80913 8.4625C9.74885 8.43667 9.69465 8.39851 9.65 8.35047C9.45 8.15047 9.45 7.84047 9.65 7.64047L12.8 4.49047L9.65 1.34047C9.45 1.14047 9.45 0.830469 9.65 0.630469C9.85 0.430469 10.16 0.430469 10.36 0.630469L13.86 4.13047C14.06 4.33047 14.06 4.64047 13.86 4.84047L10.36 8.34047C10.26 8.44047 10.13 8.49047 10.01 8.49047L10 8.50047Z"
                    fill="#58b770"></path>
                </svg>
              </i>
            </div>
          </div>
        </div>
      </div>
    </Section>
  </main>
</App>
