---
import { Section, Accordion, Image, Icon, H1, H2, H3, H4 } from "ui";
import Exercice from "../../../../components/TheExercise.astro";
---

<Exercice
  page={2}
  menu={2}
  title="Кызыклы сыйфатлар"
  subtitle="Бу рәсемгә кара. Рәсем буенча хикәят төзе."
  next="/exercises/grammar/choose-a-letter"
  audio="Kizikli siyfatlar.ogg"
>
  <div class="answers">
    <Image class="bear-img" src="page-2/playing.png" />
  </div>
</Exercice>
