---
import { Section, Accordion, Image, Icon, H1, H2, H3, H4 } from "ui";
import Exercice from "../../../../components/TheExercise.astro";
---

<Exercice
  page={2}
  menu={4}
  title="Яңгыравыклы туп"
  subtitle="Сәлам! Минем арттан кабатла"
  next="/exercises/numbers/sum"
>
  <div class="v">
    <iframe
      width="720"
      height="405"
      src="https://rutube.ru/play/embed/47f69c50eaa9db8aa9367620ac07785c/?p=9Pp1IRLE00BAxJXnPPBzAA"
      allow="clipboard-write; autoplay"></iframe>
    <span>
      Бирем җитезлекне үстерә, балаларны туп ыргытырга һәм тотарга өйрәтә.
    </span>
    <span>
      Искәрмә: әлеге видео мисал өчен китерелгән. Алга таба видео студиядә яхшы
      яктырту белән язылачак.
    </span>
    <span
      >Примечание: данное видео приведено для примера. В дальнейшем видео будут
      записываться при хорошем освещении в студии.
    </span>
  </div>
</Exercice>

<style>
  .v {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
</style>
