---
import { Section, Accordion, Image, Icon, H1, H2, H3, H4 } from "ui";
import Exercice from "../../../../components/TheExercise.astro";
---

<Exercice
  page={2}
  menu={4}
  title="Яңгыравыклы туп"
  subtitle="Сәлам! Минем арттан кабатла"
  next="/exercises/numbers/sum"
>
  <iframe
    width="620"
    height="400"
    src="https://rutube.ru/play/embed/cf138449790b35e0253c36007e38aea7"
  ></iframe>
  <span>
    Бирем җитезлекне үстерә, балаларны туп ыргытырга һәм тотарга өйрәтә.
  </span>
</Exercice>
