---
import { Section, Accordion, Image, Icon, H1, H2, H3, H4 } from "ui";
import Exercice from "../../../../components/TheExercise.astro";
---

<Exercice
  page={2}
  title="Туган җирем"
  subtitle="Рәсемдә нәрсә сурәтләнгән? <br/> Син бу биналарны беләсеңме?  Синеңчә анда нәрсә белән шөгыльләнергә мөмкин? <br/> Әти һәм әни белән бергә барырга телисеңме?"
  next="/exercises/recognition/creml"
>
  <ul class="list">
    <li class="image_full">
      <Image src="kazan_4.jpg" />
      <li class="image_full">
        <Image src="kazan_5.jpg" />
        <li class="image_full"><Image src="kazan_6.jpg" /></li>
      </li>
    </li>
  </ul></Exercice
>
