---
import { Image } from "ui";
import Exercice from "../../../components/TheExercise.astro";
---

<Exercice
  page={2}
  menu={2}
  title="Әкиятне сөйлә"
  subtitle="Рәсемне җый. Рәсемдә нинди әкият яшеренгән? Аны сөйлә."
  next="/exercises/speech/interesting-features"
  audio="Ekiyatne soile.ogg"
>
  <div class="pazzle">
    <div class="pazzle__image">
      <div style="top: 40px; left: 285px" class="missing-piece"></div>
      <Image src="pazzles/story/story.jpg" />
    </div>
    <div class="pazzle__pieces">
      <span class="pazzle__title">Җавап өчен вариантлар:</span>
      <div class="pazzle__piece">
        <Image src="pazzles/story/pazzle_1.png" />
      </div>
      <div class="pazzle__piece">
        <Image src="pazzles/story/pazzle_2.png" />
      </div>
      <div class="pazzle__piece">
        <Image src="pazzles/story/pazzle_3.png" />
      </div>
    </div>
  </div>
</Exercice>
