---
import { Section, Accordion, Image, Icon, H1, H2, H3, H4 } from "ui";
import Exercice from "../../../../components/TheExercise.astro";
---

<Exercice
  page={2}
  menu={3}
  title="Татар милли киемнәр"
  subtitle="Әлфиягә киенергә булыш. Татар милли костюмының үзенчәлекләре турында сөйлә."
  next="/exercises/artistic/music"
>
  <div class="match-container">
    <div class="dropzones-container">
      <div class="dropzone drop1" data-match="1"></div>
      <div class="dropzone drop2" data-match="2"></div>
      <div class="dropzone drop3" data-match="3"></div>
    </div>

    <div class="images-container">
      <div class="draggable" draggable="true" data-match="1">
        <Image src="dressed/top.jpg" />
      </div>
      <div class="draggable" draggable="true" data-match="3">
        <Image src="dressed/bottom.jpg" />
      </div>
      <div class="draggable" draggable="true" data-match="2">
        <Image src="dressed/middle.jpg" />
      </div>
    </div>
  </div>

  <div class="btn-play" data-src="/assets/audios/kiyim.ogg">
    <Image src="icons/play.svg" />
  </div>

  <b class="title">Кызлар өчен татар костюмы.</b>
  <span style="padding-inline:5px; line-height: 1.35; text-align: justify;">
    Ир-ат киеме: озын күлмәк, ыштан, камзул, билбау, бишмәт керә. Хатын-кыз
    киеме: күлмәк, алъяпкыч, ыштан, кукрәкчә, кәзәкидән тора. Калфак кызлар өчен
    кайчандыр бик кадерле әйбер булган. Кичләр утырып, алар аңа матур-матур
    бизәкләр чиккән, аны киеп кунакка, бәйрәмнәргэ барган. Бүгенге көндэ
    кызларны уңышлы прическалары ничек бизәсә, ул заманда калфаклары шулай бизәп
    торган. Бай һәм затлы милли татар костюмына калфак бик тә килешкән.
  </span>
  <script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
      const draggables = document.querySelectorAll(".draggable");
      const dropzones = document.querySelectorAll(".dropzone");

      draggables.forEach((draggable) => {
        draggable.addEventListener("dragstart", (e) => {
          // Убедимся, что атрибут data-match установлен
          const matchId = draggable.getAttribute("data-match");
          if (matchId) {
            e.dataTransfer.setData("match", matchId);
          }
        });
      });

      dropzones.forEach((dropzone) => {
        dropzone.addEventListener("dragover", (e) => {
          e.preventDefault(); // Разрешаем сброс
        });

        dropzone.addEventListener("drop", (e) => {
          e.preventDefault();
          const matchId = e.dataTransfer.getData("match");

          if (matchId) {
            if (dropzone.getAttribute("data-match") === matchId) {
              dropzone.classList.add("correct");
              const draggedElement = document.querySelector(
                `.draggable[data-match="${matchId}"]`
              );
              dropzone.appendChild(draggedElement); // Помещаем элемент в зону
            } else {
              dropzone.classList.add("incorrect");
              setTimeout(() => dropzone.classList.remove("incorrect"), 1000);
            }
          } else {
            console.error("matchId is null or undefined");
          }
        });
      });
    });
  </script>
</Exercice>

<style lang="scss">
  .btn-play {
    margin: 0 0 20px;
    padding: 10px;
    width: 80px;
    background: var(--primary);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--transition-ease);

    &:hover {
      opacity: 0.8;
    }
  }
</style>
